/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
div#preload { display: none; }
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  background : #3d45c4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  font-size:2em;
  margin : 0;
  padding :0;

}

#gagne {
  width : 100%;
  text-align : center;
  color: #000;
  font-family: Monoton;
  font-size : 2.5em;
 
}


#caption {
  position: absolute;
  bottom : 10px;
  right : 25px;
  font-size:1em;
  margin : 0;
  padding :0;
}

#sliderInfo {
    display : inline;
    margin : 0;
    padding: 0;
}
#slider {
  width : 100%;
}
#parametres {
  position : absolute;
  padding : 0px;
  margin : 0px;
  border : solid black 5px;
  border-radius : 20px;
  top  : 15%;
  left : 15%;
  z-index : 10000; 
  background: rgba(255,255,255,1);
  width : 800px;
  height : 600px; 
  background: url( images/FDM.png) no-repeat;
}

#levels {
  position : absolute;
  width : 500px;
  height : 100px;
  top : 400px;
  left : 150px;
  margin : auto;
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: stretch;
}



#param_button {
  position : absolute;
  top  : 0;
  left : 0;
  z-index : 10000;

}
#laReunion  {
  position:absolute;
  display:block;
  margin : 0px;
  padding: 0px;
  padding-top : 100px;
  padding-left : 50px;
  width  : 100%;
  height : 560px;
  background : #82b8c8;
}

#mafate, #riveG, #riveD {
 position : relative;
 display  : inline-block;
 margin : 0;
 padding: 0;
}
#riveG, #riveD {
  width  : 100px;
  height : 100%;
  z-index:2;
  margin-bottom : 2px;
  border-bottom : solid black 2px;
}
#riveG {
  background: url( images/riveG.png) no-repeat;
  margin-right : -12px;
}

#riveD {
  background: url( images/riveD.png) no-repeat;
  margin-left : -8px;
}

#mafate {
  height : 100%;
}

.spot {
  position : relative;
  display : inline-block;
  height : 100%;
  width : 125px;
  margin : 2px;
  padding:0;
}


.ilet {
  position : absolute;
  bottom:0;
  width : 100%;
  background: url(images/strate.png) repeat;
  border : solid black 2px;
  border-radius: 25px 25px 0px 0px;
}

.spot:first-of-type .ilet, .spot:last-of-type .ilet {
  background: url(images/strateB.png) repeat;
}

.spot:first {
  background: url(images/facteur.png) no-repeat;
}

.spot:last {
  background: url(images/case.png) no-repeat;
}
      
.via {
  position : absolute;
  margin:0;
  padding:0;
  right: -20px;
  width : 40px;
  border : dashed black 5px;
  background : transparent;
  min-height: 10%;
  border-radius: 25px 25px 0px 0px;
  z-index:1;
}

.via:not(:empty) {
  border : none;
}

#echelles {
  display : flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  position:absolute;
  padding : 25px;
  margin : 0;
  width : 200px;
  height : 146px;
  top : 150px;
  right: 150px;
  background: url(images/nuage.png) no-repeat;
  background-position: bottom;
  /*border : solid black 5px;
  border-radius : 10px; 
  background-color : rgba(255,255,255,0.5);*/
  z-index:3;
}

#echelles .echelle {
  display:inline-block;
  position : relative !important;
  background: url(images/uniteS.png) repeat-y;
  z-index:5;
}

.via .echelle {
  position : absolute !important;
  bottom : 0px !important;
  width : 50px;
  z-index:50;
  background: url(images/unite.png) repeat-y;
  border-bottom : solid black 4px;
}
.info {
  position:absolute;
  margin :auto;
  padding:0;
  min-width:50px;;
  border-radius : 50%;
  font-weight : bolder;
}

.echelle .info {
  top : 10px;
  left : 15px;
  font-size : 2em;
  color : grey;
}

.ilet .info {
  font-size : 3em;
  margin :auto 20%;
}



.shine-yellow { box-shadow : 0px 0px 5px 5px yellow  !important; }
.shine-white  { box-shadow : 0px 0px 5px 5px white !important; }
.shine-wrong  { box-shadow : 0px 0px 5px 5px red !important; }
/*.shine-right  { box-shadow : 0px 0px 5px 5px blue !important;*/
.green {
  border: solid green 5px !important;
  font-weight: 900 !important;
  color: green !important;
  
}

a#solution {
  color : white;
}

#close { position:absolute; width: 25px; height: 25px; top: 5px; left : 5px; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
